<div class="course-container">
  <h2>New course</h2>

  <div class="text">
    <div>
      <div>
        <label for="title">
          Title:
        </label>
      </div>
      <input id="title" type="text" [(ngModel)] = "course.title"/>
    </div>

    <div>
      <div>
        <label for="description">
          Description:
        </label>
      </div>
      <textarea id="description"
                type="text" [(ngModel)] = "course.description"
                rows="5" >
      </textarea>
    </div>

    <div>
      <div>
        <label for="courseDate">
          Title:
        </label>
      </div>
      <input id="courseDate" type="date" [(ngModel)] = "course.creationDate" />
    </div>

    <div>
      <div>
        <label for="duration">
          Duration:
        </label>
      </div>
      <input id="duration" type="number"
          [(ngModel)] = "course.durationInMinutes" />
      <span>{{course.durationInMinutes | duration}}</span>
    </div>

    <div>
      <mat-form-field class="authors-container" >
        <mat-chip-list #chipList aria-label="Author selection">
          <mat-chip *ngFor="let author of authors" [selectable]="true"
                   [removable]="true" (removed)="removeAuthor(author)">
            {{author}}
            <mat-icon matChipRemove>cancel</mat-icon>
          </mat-chip>
          <input placeholder="Add author"
                 [matChipInputFor]="chipList"
                 [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                 [matChipInputAddOnBlur]="true"
                 (matChipInputTokenEnd)="addAuthor($event)">
        </mat-chip-list>
      </mat-form-field>
      <div>
        <button mat-raised-button color="primary" (click)="onCourseSaved()">Save</button>
        <button mat-raised-button color="warn" (click)="onEditingCanceled()">Cancel</button>
      </div>
    </div>
  </div>
</div>
