<div class="courses-page-container">
  <div class="search-panel">
    <div class="search-block">
      <div class="search-input">
        <img src="./assets/ic-search.svg" />
        <input #searchField type="text" class="search-field" [value]="searchInputValue" placeholder="Text to search" />
      </div>
    </div>
    <button class="search-button" (click)="onCoursesSearched(searchField.value)">
      <i class="fa fa-search"></i> Search
    </button>
  </div>

  <div class="course-administration-panel">
    <button class="button-add-new-course" (click)="onCourseAdded()">
      <i class="fa fa-plus"></i> Add course
    </button>
  </div>
  <div class="courses-list-container">
    <div *ngIf="!courses.length">No data.Feel free to add new course.</div>
    <app-course #elseBlock *ngFor="let course of courses | orderBy:'creationDate' | search:searchInputValue"
      [course]="course"
      [appDetectCourseType]="course"
      (edited)="onCourseEdited($event)"
      (deleted)="onCourseDeleted($event)">
    </app-course>
  </div>
</div>
