<div class="course-info-panel">
  <div class="header-container">
    <span class="course-name">{{course.title}}</span>
    <div class="course-info">
      <i class="fa fa-history"></i> {{course.durationInMinutes | duration}}
      <i class="fa fa-calendar"></i> {{course.creationDate | date}}
    </div>
  </div>
  <div class="description-text">
    <span>{{course.description}}</span>
  </div>
</div>
<div class="buttons-panel">
  <button type="button" class="edit-button" (click)="edit()"><i class="fa fa-edit"></i> Edit</button>
  <button type="button" class="delete-button" (click)="delete()"><i class="fa fa-trash"></i> Delete</button>
</div>
